@import url("https://webfontworld.github.io/daegu/DalseoHealing.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DalseoHealing";
}

ul, ol, li {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1860px;
  margin: 30px auto;
}