@import '../../../../scss/style.scss';
@import '../../../../scss/mixin.scss';
@import '../../../../scss/common.scss';
@import url('https://webfontworld.github.io/daegu/DalseoHealing.css');
.container {
    max-width: 1200px;
    h1 {
        text-align: center;
        font-size: 50px;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 40px;
    }
    .icon-img {
        width: 60px;
        height: 60px;
        border-radius: 25px;
        box-shadow: 1px 1px 1px 1px;

        &:hover {
            transform: scale(1.02);
        }
        img {
            width: 50px;
            margin-left: 5px;
            margin-top: 5px;
        }
    }
    .exit {
        span {
            position: absolute;
            top: 0;
            right: 15px;
            width:30px;
            height: 3px;
            background-color:black;
            cursor: pointer;

            &:first-child {
                transform: rotate(45deg);
            }

            &:last-child {
                transform: rotate(135deg);
            }
        }
    }
    .img{
        width:100%;
        @include responsive (pc-screens){
            width: 60%;
            margin-left: 250px;
        }

        img{
            width: 100%;
        }
    }

    .logo {
        display: flex;
        margin:60px auto;
        
        h2 {
            margin-right: 350px;
        }
    }

    .concept {
        display: flex;
        margin:100px auto;
        
        ul{
            li{
                font-size: 20px;
                margin-left: 300px;
            }
        }
    }

    .color {
        margin:100px auto;
        @include responsive (pc-screens) {
            display: flex;
        }
        .flexbox{
            display: flex;  
            justify-content: space-between; 
            margin-left: 250px;
            
            .square{
                width: 120px;
                height: 120px;
                border: 1px solid transparent;
                border-radius: 5px;
                box-shadow: 2px 2px 2px 2px;
                margin-right: 20px;
            }

            .black {
                background-color: black;
                color: white;
                font-size: 24px;
                text-align: center;
                padding-top: 45px;
            }
    
            .white {
                background-color: white;
                color: black;
                font-size: 24px;
                text-align: center;
                padding-top: 45px;
            }
    
            .green {
                background-color: #033a3d;
                color: white;
                font-size: 24px;
                text-align: center;
                padding-top: 45px;
            }
        }
    }

    .font {
        margin-bottom: 60px;
        display: flex;
        .font-detail{
            margin-left: 340px;
            p {
                font-family: "DalseoHealing";
                font-weight: bold;
            }
    
            .font-first {
                font-size: 35px;
            }
    
            .font-second {
                font-size: 30px;
            }
    
            .font-third {
                font-size: 24px;
            }
    
            .font-last {
                font-size: 18px;
            }
        }
    }

    .grid-system {
        .grid-flex {
            @include responsive (pc-screens) {
                display: flex;
            }
        }
        .details {
            display: flex;
            @include responsive (pc-screens) {
                margin-top: 150px;
                margin-left: 120px;
            }

            .detail-box {
                width: 100%;
                height: 120px;
                border: 1px solid black;
                text-align: center;
                padding-top: 40px;
                font-size: 20px;

                @include responsive (pc-screens) {
                    padding-top: 30px;
                }
            }
        }
    }
}