@import url("https://webfontworld.github.io/daegu/DalseoHealing.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DalseoHealing";
}

ul, ol, li {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1860px;
  margin: 30px auto;
}

.container {
  max-width: 1200px;
}
.container h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}
.container h2 {
  font-size: 40px;
}
.container .exit span {
  position: absolute;
  top: 0;
  right: 15px;
  width: 30px;
  height: 3px;
  background-color: black;
  cursor: pointer;
}
.container .exit span:first-child {
  transform: rotate(45deg);
}
.container .exit span:last-child {
  transform: rotate(135deg);
}
.container .img {
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .container .img {
    width: 60%;
    margin-left: 250px;
  }
}
.container .img img {
  width: 100%;
}
.container .logo {
  display: flex;
  margin: 60px auto;
}
.container .logo h2 {
  margin-right: 350px;
}
.container .concept {
  display: flex;
  margin: 100px auto;
}
.container .concept ul li {
  font-size: 20px;
  margin-left: 300px;
}
.container .color {
  margin: 100px auto;
}
@media screen and (min-width: 1440px) {
  .container .color {
    display: flex;
  }
}
.container .color .flexbox {
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
}
.container .color .flexbox .square {
  width: 120px;
  height: 120px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px;
  margin-right: 20px;
}
.container .color .flexbox .black {
  background-color: black;
  color: white;
  font-size: 24px;
  text-align: center;
  padding-top: 45px;
}
.container .color .flexbox .white {
  background-color: white;
  color: black;
  font-size: 24px;
  text-align: center;
  padding-top: 45px;
}
.container .color .flexbox .blue {
  background-color: #339ff5;
  color: black;
  font-size: 24px;
  text-align: center;
  padding-top: 45px;
}
.container .font {
  margin-bottom: 60px;
  display: flex;
}
.container .font .font-detail {
  margin-left: 340px;
}
.container .font .font-detail p {
  font-family: "HYheadlineM";
  font-weight: bold;
}
.container .font .font-detail .font-first {
  font-size: 35px;
}
.container .font .font-detail .font-second {
  font-size: 30px;
}
.container .font .font-detail .font-third {
  font-size: 24px;
}
.container .font .font-detail .font-last {
  font-size: 18px;
}
@media screen and (min-width: 1440px) {
  .container .grid-system .grid-flex {
    display: flex;
  }
}
.container .grid-system .details {
  display: flex;
}
@media screen and (min-width: 1440px) {
  .container .grid-system .details {
    margin-top: 150px;
    margin-left: 120px;
  }
}
.container .grid-system .details .detail-box {
  width: 100%;
  height: 120px;
  border: 1px solid black;
  text-align: center;
  padding-top: 40px;
  font-size: 20px;
}
@media screen and (min-width: 1440px) {
  .container .grid-system .details .detail-box {
    padding-top: 30px;
  }
}